<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RegressionSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:55:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.cleanup()[pri:5, instance:testng.LoginTest@6aba2b86]">cleanup</td> 
  <td>main@511707818</td>   <td></td> </tr>
<tr bgcolor="afa19b">  <td>23/11/28 19:55:42</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAutomation.display()[pri:0, instance:testng.TestAutomation@7b9a4292]">display</td> 
  <td>main@511707818</td>   <td></td> </tr>
<tr bgcolor="afa19b">  <td>23/11/28 19:55:42</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAutomation.getData()[pri:0, instance:testng.TestAutomation@7b9a4292]">getData</td> 
  <td>main@511707818</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:55:42</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.login_to_page()[pri:1, instance:testng.LoginTest@6aba2b86]">login_to_page</td> 
  <td>main@511707818</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:55:42</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.navigate_to_home_page()[pri:2, instance:testng.LoginTest@6aba2b86]">navigate_to_home_page</td> 
  <td>main@511707818</td>   <td></td> </tr>
<tr bgcolor="afa19b">  <td>23/11/28 19:55:42</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAutomation.setup()[pri:0, instance:testng.TestAutomation@7b9a4292]">setup</td> 
  <td>main@511707818</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:55:42</td>   <td>-44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.setup()[pri:0, instance:testng.LoginTest@6aba2b86]">setup</td> 
  <td>main@511707818</td>   <td></td> </tr>
<tr bgcolor="b481b3">  <td>23/11/28 19:55:42</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.test()[pri:0, instance:testng.HomePage@79924b]">test</td> 
  <td>main@511707818</td>   <td></td> </tr>
<tr bgcolor="b481b3">  <td>23/11/28 19:55:42</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.test0()[pri:0, instance:testng.HomePage@79924b]">test0</td> 
  <td>main@511707818</td>   <td></td> </tr>
<tr bgcolor="b481b3">  <td>23/11/28 19:55:42</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.test1()[pri:0, instance:testng.HomePage@79924b]">test1</td> 
  <td>main@511707818</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:55:42</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_registration_form()[pri:3, instance:testng.LoginTest@6aba2b86]">verify_registration_form</td> 
  <td>main@511707818</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:55:42</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_title_of_page()[pri:4, instance:testng.LoginTest@6aba2b86]">verify_title_of_page</td> 
  <td>main@511707818</td>   <td></td> </tr>
</table>
