<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b29fee">  <td>23/10/06 01:56:46</td>   <td>0</td> <td title="&lt;&lt;BaseTest.postTearDown()[pri:0, instance:com.guru99.tests.LoginTests@a514af7]">&lt;&lt;postTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2005435445</td>   <td></td> </tr>
<tr bgcolor="b29fee">  <td>23/10/06 01:56:44</td>   <td>-1656</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup()[pri:0, instance:com.guru99.tests.LoginTests@a514af7]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2005435445</td>   <td></td> </tr>
<tr bgcolor="b29fee">  <td>23/10/06 01:56:46</td>   <td>-30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.postTestAction(org.testng.ITestResult)[pri:0, instance:com.guru99.tests.LoginTests@a514af7]">&lt;&lt;postTestAction</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b29fee">  <td>23/10/06 01:56:46</td>   <td>-30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.postTestAction(org.testng.ITestResult)[pri:0, instance:com.guru99.tests.LoginTests@a514af7]">&lt;&lt;postTestAction</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b29fee">  <td>23/10/06 01:56:46</td>   <td>-30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.postTestAction(org.testng.ITestResult)[pri:0, instance:com.guru99.tests.LoginTests@a514af7]">&lt;&lt;postTestAction</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="95b565">  <td>23/10/06 01:56:46</td>   <td>-36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.verifyUserLoginWithCorrectCredentials(java.lang.String,java.lang.String)[pri:0, instance:com.guru99.tests.LoginTests@a514af7]">verifyUserLoginWithCorrectCredentials</td> 
  <td>main@2005435445</td>   <td></td> </tr>
<tr bgcolor="95b565">  <td>23/10/06 01:56:46</td>   <td>-32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.verifyUserPage()[pri:0, instance:com.guru99.tests.LoginTests@a514af7]">verifyUserPage</td> 
  <td>main@2005435445</td>   <td></td> </tr>
<tr bgcolor="b29fee">  <td>23/10/06 01:56:46</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.guru99.tests.LoginTests@a514af7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b29fee">  <td>23/10/06 01:56:44</td>   <td>-1785</td> <td title="&gt;&gt;BaseTest.preSetup()[pri:0, instance:com.guru99.tests.LoginTests@a514af7]">&gt;&gt;preSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2005435445</td>   <td></td> </tr>
<tr bgcolor="95b565">  <td>23/10/06 01:56:46</td>   <td>-41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.verifyAddNewCustomer()[pri:0, instance:com.guru99.tests.LoginTests@a514af7]">verifyAddNewCustomer</td> 
  <td>main@2005435445</td>   <td></td> </tr>
</table>
