<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80d585">  <td>23/08/06 16:47:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.verifyUserPage()[pri:0, instance:com.guru99.tests.LoginTests@4d0f2471]">verifyUserPage</td> 
  <td>main@1325056130</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>23/08/06 16:47:00</td>   <td>-18181</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup()[pri:0, instance:com.guru99.tests.LoginTests@4d0f2471]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1325056130</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>23/08/06 16:47:28</td>   <td>10081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.postTestAction(org.testng.ITestResult)[pri:0, instance:com.guru99.tests.LoginTests@4d0f2471]">&lt;&lt;postTestAction</td> 
<td>&nbsp;</td>  <td>main@1325056130</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>23/08/06 16:47:28</td>   <td>10247</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.guru99.tests.LoginTests@4d0f2471]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1325056130</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>23/08/06 16:46:59</td>   <td>-18421</td> <td title="&gt;&gt;BaseTest.preSetup()[pri:0, instance:com.guru99.tests.LoginTests@4d0f2471]">&gt;&gt;preSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1325056130</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>23/08/06 16:47:28</td>   <td>10395</td> <td title="&lt;&lt;BaseTest.postTearDown()[pri:0, instance:com.guru99.tests.LoginTests@4d0f2471]">&lt;&lt;postTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1325056130</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>23/08/06 16:47:28</td>   <td>10081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.postTestAction(org.testng.ITestResult)[pri:0, instance:com.guru99.tests.LoginTests@4d0f2471]">&lt;&lt;postTestAction</td> 
<td>&nbsp;</td>  <td>main@1325056130</td>   <td></td> </tr>
<tr bgcolor="80d585">  <td>23/08/06 16:47:07</td>   <td>-10272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.verifyAddNewCustomer()[pri:0, instance:com.guru99.tests.LoginTests@4d0f2471]">verifyAddNewCustomer</td> 
  <td>main@1325056130</td>   <td></td> </tr>
</table>
