<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SmokeSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:01:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.test()[pri:0, instance:testng.HomePage@62150f9e]">test</td> 
  <td>TestNG-test=SmokeTest-1@949951993</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:01:10</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.test0()[pri:0, instance:testng.HomePage@62150f9e]">test0</td> 
  <td>TestNG-test=SmokeTest-1@949951993</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:01:10</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.test1()[pri:0, instance:testng.HomePage@62150f9e]">test1</td> 
  <td>TestNG-test=SmokeTest-1@949951993</td>   <td></td> </tr>
</table>
