<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SanitySuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:34:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.login_to_page()[pri:1, instance:testng.LoginTest@15ff3e9e]">login_to_page</td> 
  <td>main@109228794</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:34:52</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.setup()[pri:0, instance:testng.LoginTest@15ff3e9e]">setup</td> 
  <td>main@109228794</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:34:52</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_title_of_page()[pri:4, instance:testng.LoginTest@15ff3e9e]">verify_title_of_page</td> 
  <td>main@109228794</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:34:52</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.navigate_to_home_page()[pri:2, instance:testng.LoginTest@15ff3e9e]">navigate_to_home_page</td> 
  <td>main@109228794</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:34:52</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.cleanup()[pri:5, instance:testng.LoginTest@15ff3e9e]">cleanup</td> 
  <td>main@109228794</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/11/28 19:34:52</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verify_registration_form()[pri:3, instance:testng.LoginTest@15ff3e9e]">verify_registration_form</td> 
  <td>main@109228794</td>   <td></td> </tr>
</table>
