<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc8ecb">  <td>23/12/03 20:54:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataProviderTest2.setup()[pri:0, instance:testng.DataProviderTest2@2e005c4b]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1658699134</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/12/03 20:54:08</td>   <td>2904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderTest2.enterCredentials(java.lang.String,java.lang.String)[pri:0, instance:testng.DataProviderTest2@2e005c4b]">enterCredentials</td> 
  <td>main@1658699134</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/12/03 20:54:13</td>   <td>8150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DataProviderTest2.close()[pri:0, instance:testng.DataProviderTest2@2e005c4b]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1658699134</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/12/03 20:54:08</td>   <td>2904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderTest2.enterCredentials(java.lang.String,java.lang.String)[pri:0, instance:testng.DataProviderTest2@2e005c4b]">enterCredentials</td> 
  <td>main@1658699134</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/12/03 20:54:13</td>   <td>8150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DataProviderTest2.close()[pri:0, instance:testng.DataProviderTest2@2e005c4b]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1658699134</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>23/12/03 20:54:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataProviderTest2.setup()[pri:0, instance:testng.DataProviderTest2@2e005c4b]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1658699134</td>   <td></td> </tr>
</table>
