<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RegressionSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bb7c74">  <td>22/11/24 00:51:41</td>   <td>0</td> <td title="&lt;&lt;BaseTest.postTearDown()[pri:0, instance:com.guru99.tests.BaseTest@47faa49c]">&lt;&lt;postTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="bb7c74">  <td>22/11/24 00:51:41</td>   <td>-47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.postTestAction(org.testng.ITestResult)[pri:0, instance:com.guru99.tests.HomeTest@2f217633]">&lt;&lt;postTestAction</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="bb7c74">  <td>22/11/24 00:51:41</td>   <td>-190</td> <td title="&gt;&gt;BaseTest.preSetup()[pri:0, instance:com.guru99.tests.BaseTest@47faa49c]">&gt;&gt;preSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="bb7c74">  <td>22/11/24 00:51:41</td>   <td>-40</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup()[pri:0, instance:com.guru99.tests.LoginTests@a530d0a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="bb7c74">  <td>22/11/24 00:51:41</td>   <td>-63</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup()[pri:0, instance:com.guru99.tests.HomeTest@2f217633]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="bb7c74">  <td>22/11/24 00:51:41</td>   <td>-43</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.guru99.tests.HomeTest@2f217633]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="bb7c74">  <td>22/11/24 00:51:41</td>   <td>-37</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.guru99.tests.LoginTests@a530d0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>22/11/24 00:51:41</td>   <td>-50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyNewUserPage()[pri:0, instance:com.guru99.tests.HomeTest@2f217633]">verifyNewUserPage</td> 
  <td>main@760357227</td>   <td></td> </tr>
</table>
